.login-card{
  width: 400px;

  .full-width{
    width: 100%;
  }
  .login-button{
    margin: 6px;
    margin-top: 0;
  }
}
.example-header-image {
  background-image: url('https://p1.hiclipart.com/preview/386/684/972/face-icon-user-icon-design-user-profile-share-icon-avatar-black-and-white-silhouette-png-clipart.jpg');
  background-size: cover;
}
