<mat-icon class="rating-star" *ngIf="showFill1" (click)="clearRating(1);">star</mat-icon>
<mat-icon class="rating-star" *ngIf="showBorder1" (click)="setRating(1);">star_border</mat-icon>

<mat-icon class="rating-star" *ngIf="showFill2" (click)="clearRating(2);">star</mat-icon>
<mat-icon class="rating-star" *ngIf="showBorder2" (click)="setRating(2);">star_border</mat-icon>

<mat-icon class="rating-star" *ngIf="showFill3" (click)="clearRating(3);">star</mat-icon>
<mat-icon class="rating-star" *ngIf="showBorder3" (click)="setRating(3);">star_border</mat-icon>

<mat-icon class="rating-star" *ngIf="showFill4" (click)="clearRating(4);">star</mat-icon>
<mat-icon class="rating-star" *ngIf="showBorder4" (click)="setRating(4);">star_border</mat-icon>

<mat-icon class="rating-star" *ngIf="showFill5" (click)="clearRating(5);">star</mat-icon>
<mat-icon class="rating-star" *ngIf="showBorder5" (click)="setRating(5);">star_border</mat-icon>
